<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Streeetball, <%= @user.username %></h1>
    <p>
      In order to begin using your account at Streeetball, <%= link_to 'click here', edit_email_confirmation_url(@user.email_confirmation_token) %> to verify your email address.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>