<div class="new-comment">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.text_area :blurb, :placeholder => 'Your comment' %>
    
    <%= f.submit 'submit', :class => 'primary' %>
  <% end %>
</div>