<div class="profile">
  <%= profile_image_tag @user, :class => "profile-image" %>
  
  <div class="head">
    <h1><%= @user.username %></h1>
    <a href="#">Phoenix, AZ</a>
    <%= link_to_dribbble @user %>
  </div>
  
  <p class="bio">
    <%= @user.bio %>
  </p>
  
  <% if current_user && current_user.id == @user.id %>
    <%#= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</div>