<% @page_title = 'About' %>

<div class="about">
<!--   <h1>About</h1> -->
  <div class="poem">
    <div>Once upon a time there was a <span class="prospect">Prospect</span> named Jill.</div>
    <div>Always looking for opportunities to show off her newfound skills.</div>
    <div>She struggled to get her portfolio noticed; she wasn't well-known.</div>
    <div>Yet she stumbled upon Streeetball one day shouting, "I'm gonna own!"</div>
    <div>She designed and posted her creations 'til there was more and more.</div>
    <div>She came to a point where designing wasn't even a chore.</div>
    <div>A few weeks later a <span class="prospect">Player</span> named Willy noticed her work.</div> 
    <div>Impressed, he swiftly drafted her because he ain't a jerk!</div>
    <!-- This is a story about how a small designer who nobody knew was able to get her name out there into view. -->
  </div>
  
  <div class="tagline">Streeetball is giving new designers a better chance to play.</div> 
  
  <%#= link_to '', "http://twitter.com/streeetball/", :class => 'icon-twitter' %>
  <div class="credits">
    <h1>Made by:</h1>
    <p>
      <%= link_to 'Karissa', user_path('Itsjustkarissa') %>
      &amp;
      <%= link_to 'Johnathan', user_path('John') %>
    </p>
  </div>
</div>