<% @page_title = 'About' %>

<div class="about">
  <h1>About</h1>
  <p>Runner bean beetroot, chinese artichoke elephant foot yam. 
  Summer purslane sea beet brussels sprout cucumber komatsuna. 
  Chard, swiss chard earthnut pea lamb's lettuce pigeon pea, cassava fat hen swiss chard. 
  Prairie turnip horse gram pea sprouts drumstick.Turnip chinese mallow gobo greater plantain fiddlehead earthnut pea beet greens, asparagus florence fennel.
  </p>
</div>