<% @page_title = 'About' %>

<div class="about">
  <h1>About</h1>
  <p>
    Once upon a time there was a <span class="prospect">Prospect</span> named Jill.
    She wasn't the best designer in the world, but she still wanted an opportunity to show off some of her newfound skills.
    She struggled to get her portfolio noticed simply because she wasn't well-known.
    Then one day she stumbled upon Streeetball and shouted, "Oh boy, I'm gonna own!"
    For days and days she designed more and more. Soon enough it wasn't even a chore. 
    Just a few weeks later a <span class="prospect">Player</span>, Willy, noticed her work.
    He was impressed and drafted her because he ain't a jerk!
    This is a story about how a small designer who nobody knew was able to get her name out there into view.
  </p>
  
  <div class="tagline">Streeetball opens the doors for new and imaginitive designers who might otherwise be pushed aside.</div>
  
  <%#= link_to '', "http://twitter.com/streeetball/", :class => 'icon-twitter' %>
  <div class="credits">
    <h1>Made by:</h1>
    <p>
      <%= link_to 'Karissa', user_path('Itsjustkarissa') %>
      &amp;
      <%= link_to 'Johnathan', user_path('John') %>
    </p>
  </div>
</div>