<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Streeetball, <%= @user.username %></h1>
    <p>
      You have successfully signed up to Streeetball, <%= link_to 'click here', (verify_user_url (Base64.encode64 @user.id.to_s)) %> to verify your email.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>