<body lang="en" style="padding: 0; margin: 0;">

<table style="background-color: #333; padding: 20px; width: 100%; font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; color: #333;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color: #EEE; padding: 10px;">
      <%= link_to (tag :image, :src => "http://#{ENV['MAILER_HOST']}/assets/logo.png", :alt => 'Streeetball Logo', :style => 'width: 240px;'), root_url %>
    </td>
  </tr>
    
  <tr style="background-color: #DDD; height: 4px;"><td></td></tr>
    
  <tr style="background-color: #FFF;">
    <td style="padding: 10px;">