@font-face {
    font-family: "PTSansRegular";
    src: url("/fonts/ptsans-webfont.eot");
    src: url("/fonts/ptsans-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/ptsans-webfont.woff") format("woff"),
         url("/fonts/ptsans-webfont.ttf") format("truetype"),
         url("/fonts/ptsans-webfont.svg#PTSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Scooby;
	src: url('/fonts/scooby.eot');
	src: url('/fonts/scooby.eot?#iefix') format('embedded-opentype'),
		   url('/fonts/scooby.svg#Scooby') format('svg'),
	   	 url('/fonts/scooby.woff') format('woff'),
		   url('/fonts/scooby.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'PTSansBold';
    src: url('/fonts/pts75f-webfont.eot');
    src: url('/fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pts75f-webfont.woff') format('woff'),
         url('/fonts/pts75f-webfont.ttf') format('truetype'),
         url('/fonts/pts75f-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}