@font-face {
    font-family: "PTSansRegular";
    src: url("/fonts/ptsans-webfont.eot");
    src: url("/fonts/ptsans-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/ptsans-webfont.woff") format("woff"),
         url("/fonts/ptsans-webfont.ttf") format("truetype"),
         url("/fonts/ptsans-webfont.svg#PTSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}