box-shadow() {
  box-shadow: arguments;
}
box-sizing() {
  -webkit-box-sizing: arguments;
     -moz-box-sizing: arguments;
          box-sizing: arguments;
}
border-radius() {
  -webkit-border-radius: arguments;
          border-radius: arguments;
}
transition() {
  -webkit-transition: arguments;
     -moz-transition: arguments;
      -ms-transition: arguments;
       -o-transition: arguments;
          transition: arguments;
}