<h1>Listing posts</h1>

<table>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.name, post %></td>
    <td><%= link_to (s3_image_tag post.image_url), post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Post', new_post_path %>
