<% if !logged_in && params[:controller] == 'posts' && params[:action] == 'index' %>
  <div class="preview">
    <p><span class="catch"><%= image_tag "logo-intro.png", :class =>'ball' %> is giving players more time to play.</span>
    <br> 
    Cabbage swede west indian gherkin tinda fat drumstick; garden rocket ocra. 
    Greater Plantain common bean pea cauliflower squash; good king henry. 
    Florence fennel - tinda spinach!</p>
    <a href="#" class="learn">Learn more</a>
  </div>
<% end %>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= raw '-->' if index != 0 %><%= link_to image_tag(post.image.url(:small), :alt => post.name), post, :class => 'post' %><%= raw '<!--' if index != @posts.count-1 %>
  <% end %>
</div>
