<% if !logged_in && params[:controller] == 'posts' && params[:action] == 'index' %>
  <div class="preview">
    <%= image_tag "logo.png" %>
  </div>
<% end %>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= raw '-->' if index != 0 %><div class="post">
      <%= link_to image_tag(post.image.url(:small), :alt => post.name), post %>
    </div><%= raw '<!--' if index != @posts.count-1 %>
  <% end %>
</div>