<% if !logged_in %>
  <div class="preview">
    <%= image_tag "logo.png" %>
  </div>
<% end %>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= raw '-->' if index != 0 %><div class="post">
      <%= link_to (s3_image_tag post.image_url, :alt => post.name), post %>
    </div><%= raw '<!--' %>
  <% end %>
</div>