/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.flash_notice {
  color: green;
}
.flash_alert,
.flash_error {
  color: red;
}

.profile {
  color: #adadad;
  height: 110px; /* .profile-image + 20px */
  text-shadow: 1px 1px 0 #FFF;
}
.profile .head a {
  font-size: 0.8em;
  margin-right: 5px;
  top: 3px;
}
.profile .head a.social {
  font-weight: bold;
  top: 2px;
}
.profile .head a:hover {
  text-decoration: underline;
}
.profile .head h1 {
  color: #7ca34f;
  float: left;
  font-size: 1em;
  margin-right: 10px;
}
.profile p {
  font-size: 0.8em;
}
.profile .profile-image {
  border: 3px solid #DDD;
  box-shadow: 0 1px 0 0 #CCC;
  float: left;
  margin-right: 10px;
  width: 90px;
}
.profile .bio {
  line-height: 1.5em;
  margin-top: 5px;
}

.post:nth-child(4) {
  margin-right: 0;
}