/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  text-shadow: 1px 1px 0 #FFF;
}

.flash_notice {
  color: green;
}
.flash_alert,
.flash_error {
  color: red;
}

.profile-image {
  border: 4px solid #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #CCC;
}

.profile {
  color: #adadad;
  height: 110px; /* .profile-image + 20px */
}
.profile .head a {
  font-size: 12px;
  margin-right: 5px;
  top: 4px;
}
.profile .head a.social {
  font-weight: bold;
}
.profile .head a:hover {
  text-decoration: underline;
}
.profile .head h1 {
  color: #7ca34f;
  float: left;
  font-size: 16px;
  margin-right: 10px;
}
.profile p {
  font-size: 13px;
}
.profile .profile-image {
  float: left;
  margin-right: 10px;
  width: 90px;
}
.profile .bio {
  line-height: 1.5em;
  margin-top: 5px;
}

.post:nth-child(4) {
  margin-right: 0;
}
.single {
/*  border: 1px solid red;*/
  margin: 0 auto;
  padding: 0 6px;
  width: 422px;
}
.single .post {
  left: -6px;
  margin: 0 0 8px 0;
}
.single .post img {
  width: 400px;
}
.single h1 {
  color: #616161;
  font-size: 18px;
}
.single .by {
  color: #a1a1a1;
  font-size: 13px;
  margin: 4px 0 15px 2px;
}
.single .by a {
  color: #7ca14f;
  font-weight: bold;
}
.single .by a:hover {
  text-decoration: underline;
}
.single .comment {
  border-bottom: 1px solid #DDD;
  font-size: 13px;
  padding: 15px 0 15px 50px;
}
.single .comment.last {
  border-bottom: none;
}
.single .comment img {
  left: 0;
  position: absolute;
  width: 40px;
}
.single .comment a.user {
  color: #7ca14f;
  font-weight: bold;
}
.single .comment a.user:hover {
  text-decoration: underline;
}
.single .comment .blurb {
  color: #7b7b7b;
  margin-top: 6px;
}
.single .comment .time {
  color: #B1B1B1;
  font-size: 10px;
  margin-top: 6px;
  text-shadow: none;
}