/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "global/reset";
@import "global/variables";
@import "global/mixins";
@import "global/fontface";

//////////////////////////////////////////////////////////////////////////////

body, input, textarea, select {
  font-family: PTSansRegular, Arial, Helvetica, Geneva, sans-serif;
}
body {
  background: url("pattern-main.png") #f5f5f5;
  text-shadow: 1px 1px 0 #FFF;
}
a {
  color: inherit;
  font: inherit;
}
.top-nav {
  background: url("noise.png");
  border-bottom: 1px solid #000;
  box-shadow:
    0px 1px 0 0 #999,
    inset 0px -65px 30px -40px rgba(0,0,0,.3),
    inset 0px -1px 0 0 rgba(255,255,255,.2),
    0 4px 0 0 rgba(52,52,52,.04);
  color: #f5f5f5;
  font-size: 18px;
  font-family: PTSansRegular;
  margin-bottom: 30px;
  padding: 8px 0px 4px 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 945px;
  padding: 0 20px;
}
.user-functions {
  color: #EEE;
  float: right;
  font-size: 13px;
  padding-top: 5px;
  text-align: right;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  vertical-align: middle;
  width: 300px;
}
.user-functions .profile-image {
  border: 2px solid #282828;
  box-shadow: 0px 1px 0px 0px #525252;
  margin-right: 5px;
  top: -7px;
  width: 28px;
}
.user-functions a {
  margin-left: 5px;
  text-transform: lowercase;
}
.user-functions a:hover {
  text-decoration: underline;
}
.user-functions .primary {
  background: #75b22e;
  border-radius: 4px;
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.3),
    inset 0 -30px 40px -20px rgba(0,0,0,0.5),
    inset 0 0 3px 0 rgba(255,255,255,0.3),
    0 1px 0 0 rgba(0,0,0,0.2),
    0 -1px 0 0 rgba(0,0,0,0.2),
    inset 0 13px 0 0 rgba(255,255,255,.1),
    0 0 3px 0 rgba(0,0,0,0.3);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  padding: 7px 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  top: -7px;
  user-select: none;
}
.user-functions .primary:hover {
  text-decoration: none;
}
.user-functions .primary:active { 
  background: #69a227;
  top: -6px;
}
.flash_notice {
  color: green;
}
.flash_alert,
.flash_error {
  color: red;
}
textarea {
  background: rgba(0,0,0,0.02);
  border: 1px solid #FFF;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 1px #D1D1D1;
  max-width: 100%;
  height: 100px;
  padding: 6px;
  width: 100%;
}
textarea:focus {
  // Needs focus styles
  outline: none;
}
.profile-image {
  border: 4px solid #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #CCC;
}
.profile {
  color: #adadad;
  height: 110px; /* .profile-image + 20px */
}
.profile .head a {
  font-size: 12px;
  margin-right: 5px;
  top: 4px;
}
.profile .head a.social {
  font-weight: bold;
}
.profile .head a:hover {
  text-decoration: underline;
}
.profile .head h1 {
  color: $textHlight;
  float: left;
  font-size: 16px;
  margin-right: 10px;
}
.profile p {
  font-size: 13px;
}
.profile .profile-image {
  float: left;
  margin-right: 10px;
  width: 90px;
}
.profile .bio {
  line-height: 1.5em;
  margin-top: 5px;
}
.post {
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  display: inline-block;
  margin: 0 14px 20px 0;
}
.post img {
  margin: 10px;
  width: 192px;
}
.post:nth-child(4) {
  margin-right: 0;
}
.single {
/*  border: 1px solid red;*/
  margin: 0 auto;
  padding: 0 6px;
  width: 422px;
}
.single .post {
  left: -6px;
  margin: 0 0 8px 0;
}
.single .post img {
  width: 400px;
}
.single h1 {
  color: #616161;
  font-size: 18px;
}
.single .by {
  color: #a1a1a1;
  font-size: 13px;
  margin: 4px 0 15px 2px;
}
.single .by a {
  color: $textHlight;
  font-weight: bold;
}
.single .by a:hover {
  text-decoration: underline;
}
.single .comment {
  border-bottom: 1px solid #DDD;
  font-size: 13px;
  padding: 15px 0 15px 50px;
}
.single .comment.last {
  border-bottom: none;
}
.single .comment img {
  left: 0;
  position: absolute;
  width: 40px;
}
.single .comment a.user {
  color: $textHlight;
  font-weight: bold;
}
.single .comment a.user:hover {
  text-decoration: underline;
}
.single .comment .blurb {
  color: #7b7b7b;
  margin-top: 6px;
}
.single .comment .time {
  color: #B1B1B1;
  font-size: 10px;
  margin-top: 6px;
  text-shadow: none;
}
.single .new-comment {
  text-align: right;
}
.single .new-comment textarea {
  margin-bottom: 10px;
}
.single .new-comment textarea:focus {
  outline: none;
}