/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
= require global/reset
= require jquery.Jcrop.min
*/

@import "global/variables";
@import "global/mixins";
@import "global/fontface";

@import "scaffold";

//////////////////////////////////////////////////////////////////////////////

body, input, textarea, select {
  font-family: PTSansRegular, Arial, Helvetica, Geneva, sans-serif;
}
h2, h3, h4, h5, h6,
.single h1,
.single .by a,
.single .comment a.user,
.profile .head h1,
.preview span,
.new {
  font-family: PTSansBold, Arial, Helvetica, Geneva, sans-serif;
  margin-bottom: 10px;
}
body {
  background: url("pattern-main.png") #f5f5f5;
  text-shadow: 0px 1px 0 #FFF;
}
a {
  color: inherit;
  font: inherit;
}
h1 {
  color: #808080;
  font-size: 20px;
  letter-spacing: -1px; //0
  margin-bottom: 14px;
}
h1,
form {
  max-width: 320px;
  margin: 0 auto;
}
textarea {
  border-radius: 2px;
  height: 100px;
  max-width: 100%;
  padding: 6px;
  width: 100%;
}
.top-nav {
  background: url("pattern-header.png");
  border-bottom: 1px solid #c7c7c7;
  box-shadow:
    inset 0px 30px 30px 0px rgba(255,255,255, .6),
    0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  color: #f5f5f5;
  font-size: 18px;
  margin-bottom: 24px;
  padding: 25px 0px 17px 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 930px;
  padding: 0 20px;
}
.wrapper .logo {
  top: -3px;
}
.user-functions {
  color: #808080;
  float: right;
  font-size: 13px;
  padding-top: 5px;
  text-align: right;
  text-decoration: none;
  
  //dividers
  &:before,
  &:after {
    background1();
    content:"";
    height: 30px;
    position: absolute;
    right: 50px;
    top: 0px;
    width: 1px;
  }
  &:after {
    background2();
    right: 49px;
  }
}
.user-functions .profile-image {
  border: 2px solid #bababa;
  border-radius: 0;
  box-shadow: 0px 1px 0px 0px #fff;
  top: -6px;
  margin-right: 6px;
  width: 31px;
}
.user-functions a {
  left: 2px;
  margin-left: 5px;
  text-transform: lowercase;
  &:hover {
    color: #999;
  }
}
.user-functions .primary,
.user-functions .new,
.submit {
  background: lighten($btnMain, 10%);
  border-radius: 4px;
  box-shadow:
    inset 0px 1px 0px 0px rgba(255,255,255,0.3),
    inset 0px -30px 40px -20px rgba(0,0,0,0.4),
    inset 0px 0px 3px 0px rgba(255,255,255,0.3),
    0px 0px 0px 1px darken($btnMain, 20%),
    inset 0px 13px 0px 0px rgba(255,255,255,.1),
    0px 0px 3px 0px rgba(0,0,0,0.3);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-right: 18px;
  padding: 7px 11px 9px 11px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  top: -6px;
  //user-select: none;
  
  &:hover {
    background: lighten($btnMain, 12%);
    box-shadow:
      inset 0px 2px 0px 0px rgba(255,255,255,0.2),
      inset 0px -30px 40px -20px rgba(0,0,0,0.4),
      inset 0px 1px 4px 1px rgba(255,255,255,0.1),
      0px 0px 0px 1px darken($btnMain, 20%),
      inset 0px 13px 0px 0px rgba(255,255,255,.1),
      inset 0px -2px 0px 0px rgba(0,0,0,.1),
      0px 0px 3px 0px rgba(0,0,0,0.3);
    color: #FFF;
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
  }
  &:active { 
    background: $btnMain;
    box-shadow:
      inset 0px 1px 0px 0px rgba(255,255,255,0.3),
      inset 0px 30px 40px -20px rgba(0,0,0,0.18),
      inset 0px 0px 3px 0px rgba(255,255,255,0.3),
      0px 0px 0px 1px darken($btnMain, 20%),
      inset 0px -13px 0px 1px rgba(255,255,255,.1),
      inset 0px -2px 0px 0px rgba(255,255,255,.15),
      0px 0px 3px 0px rgba(0,0,0,0.3);
    color: #FFF;
  }
}
.user-functions .new {
  font-size: 26px;
  margin-right: 14px;
  padding: 1px 8px 2px 8px;
  border-radius: 3px;
}
.flash_notice {
  color: green;
}
.flash_alert,
.flash_error {
  color: red;
}
textarea,
input[type=text],
input[type=password],
input[type=submit],
input[type=file] {
  display: block;
/*   text-shadow: none; */
}
textarea,
input[type=text],
input[type=password]  {
  background: rgba(0,0,0,0.02);
  border: 1px solid #FFF;
  box-shadow: inset 0 1px 0 1px #D1D1D1;
  color: #7a7a7a;
  font-size: 13px;
  margin-top: 16px;
  
  &:focus {
    // Needs focus styles
    outline: none;
  }
}
input[type=text],
input[type=password] {
  border-radius: 2px;
  display: inline-block;
  height: 18px;
/*   margin-top: 12px; */
/*   max-width: 35%; */
  padding: 8px;
  text-shadow: 0px 1px 0px #eee;
  width: 100%;
  
  &:focus {
    background: #ededed;
  }
}
.submit,
.preview .learn {
  border: none; //default! ugly culprit!
  font-size: 13px;
  text-transform: lowercase;
}
.submit {
  margin: 12px 0 30px 0;
}
.forgot {
  color: #808080;
  font-size: 14px;
  position: absolute;
  right: 140px;
  top: 122px;
  text-shadow: none;
  text-transform: lowercase;
  
  &:hover {
/*     color: #999; */
    text-decoration: underline;
  }
}
.preview {
/*  border-bottom: 1px solid #dfdfdf;
  margin: 24px 0px 20px 0px;
  padding-bottom: 20px;*/
  line-height: 24px;
  margin:  44px 20px 64px 462px;
/*  max-width: 428px;*/
}
.preview p {
  color: #707070;
  display: inline-block;
  font-size: 13px;
  text-shadow: 1px 1px 0px #eee;
}
.preview .ball {
  top: -3px;
  margin-right: 2px;
}
.preview .catch {
  color: #656565;
  font-size: 16px;
}
.preview .learn {
  background: #b1b1b1;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 
    inset 0px 2px 0px 0px rgba(255,255,255, .1),
    inset 0px -10px 5px 0px rgba(0,0,0, .08),
    0px 1px 0px 0px #888;
  color: #fff;
  margin-top: 14px;
  padding: 6px 8px;
  top: 18px;
  text-shadow: 1px 1px 1px #777;
  
  &:hover,
  &:active {
    background: lighten(#a1a1a1, 5%);
    border: 1px solid darken(#999, 5%);
    box-shadow: 
      inset 0px 2px 0px 0px rgba(255,255,255, .15),
      inset 0px -10px 5px 0px rgba(0,0,0, .08),
      0px 1px 0px 0px #888;    
  }
  &:active {
    box-shadow: 
      inset 0px 2px 0px 0px rgba(255,255,255, .1),
      inset 0px 10px 5px 0px rgba(0,0,0, .05),
      0px 1px 0px 0px #777;
  }
}
.profile-image {
  border: 4px solid #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #CCC;
}
.profile {
  color: #adadad;
  height: 110px; /* .profile-image + 20px */
  margin: 38px 0 14px 0;
}
.profile .head {
  padding-top: 4px;
}
.profile .head a {
  color: #a7a7a7;
  font-size: 13px;
  margin-right: 10px;
  top: 3px;
}
.profile .head a:hover {
/*   text-decoration: underline; */
  color: #757575;
}
.profile .head a.social {
  font-weight: bold;
  top: 2px;
}
.profile .head a.social:before {
  left: -1px;
  position: relative;
  top: -1px;
}
.profile .head h1 {
  color: $textHlight;
  float: left;
  font-size: 20px;
  margin: 0 6px 0 0;
  top: -2px;
}
.profile p {
  font-size: 13px;
}
.profile .profile-image {
  float: left;
  margin: 0px 20px 0px 0px;
  width: 90px;
}
.profile .bio {
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 10px;
  text-shadow: none;
}
.post {
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  display: inline-block;
  margin: 0 14px 20px 0;
}
.post img {
  margin: 10px;
  width: 192px;
}
.post:nth-of-type(4n) {
  margin-right: 0;
}
.single {
  margin: 0 auto;
  padding: 0 6px;
  width: 422px;
}
.single .post {
  left: -6px;
  margin: 0 0 12px 0;
}
.single .post img {
  width: 400px;
}
.single h1 {
  color: #636363;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.single .details {
  color: #a1a1a1;
  font-size: 13px;
  height: 30px;
  margin: 6px 0 0 0;
}
.single .by {
/*  float: left;*/
}
.single .by a,
.single .comment a.user {
  font-size: 15px;
}
.single .by a {
  color: $textHlight;
}
.single .by a:hover {
  text-decoration: underline;
}
.single .social {
/*  float: right;*/
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.single .social a {
  display: inline-block;
  margin-left: 10px;
}
.single .social a:before {
  font-size: 12px;
  left: -2px;
  position: relative;
}
.single .social a.liked:before {
  color: #ee76a3;
}
.single .social a:hover {
  color: #666;
}
.single .comment {
  border-bottom: 1px solid #dfdfdf;
  font-size: 13px;
  padding: 15px 0 15px 50px;
}
.single .comment.last {
  border-bottom: none;
}
.single .comment img {
  left: 0;
  position: absolute;
  width: 40px;
}
.single .comment a.user {
  color: $textHlight;
}
.single .comment a.user:hover {
  text-decoration: underline;
}
.single .comment .blurb {
  color: #666;
  line-height: 18px;
  margin-top: 6px;
  text-shadow: none;
}
.single .comment .time {
  color: #B1B1B1;
  font-size: 10px;
  margin-top: 6px;
  text-shadow: none;
}
.single .new-comment {
  padding-left: 10px;
  text-align: right;
  width: 100%;
}
.single .new-comment textarea {
  color: #7a7a7a;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 12px; 
  margin: 12px 0;
  
  &:focus {
    background: #ededed;
    outline: none;
  }
}

/* Brings back drag and drop because pos: relative messes it up */
.jcrop-holder * {
  position: static;
}

/* Icons */
[class^="icon-"], [class*=" icon-"] {
	font-family: Scooby;
	font-style: normal;
}
.icon-heart:before {
	content: "\e000";
}
.icon-comments:before {
	content: "\e001";
}
.icon-dribbble:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
/**/

footer {
  overflow: hidden;
  background: url(pattern-footer.png);
  bottom: 0;
  box-shadow:
  inset 0px 1px 0px 0px #c7c7c7,
  inset 0px 12px 12px -12px rgba(0,0,0, .14);
  margin-top: 18px;
  padding: 6px 0px 10px 0px;
  width: 100%;
}
footer .wrapper .logo {
  top: 10px;
}
.more {
  background: url(pattern-main.png);
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  box-shadow:
  inset 0px -10px 12px -7px #fafafa,
  0px 12px 12px -12px rgba(0,0,0, .2);
  height: 0;
  left: 44.35%; //middle?
  padding: 54px;
  position: absolute;
  top: -70px;
  width: 0;
  z-index: 5;
  
  &:before, 
  &:after {
    border-top: 12px solid #dadada; //cacaca
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: 20px;
    content:"";
    height: 0;
    left: 41px;
    position: absolute;
    width: 0;
  }
  &:before,  //shadow
  &:hover:before {
    border-top: 13px solid #cacaca; //bababa
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    left: 40px; 
  }
  &:hover:before {
    border-top: 13px solid #bababa; //a9a9a9
  }
  &:hover:after {
    border-top: 12px solid #cacaca; //bbb
  }
}
footer .nav {
  text-align: right;
}
footer .nav a {
  color: #bababa;
  font-size: 14px;
  margin-left: 26px;
  top: -10px;
  text-shadow: 1px 1px 0px #fafafa;
  text-transform: lowercase;
  
  &:hover {
     color: #a1a1a1; 
  }
}