/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require global/reset
 *= require_self
 *= require_tree .
*/

@import "global/variables";
@import "global/mixins";
@import "global/fontface";

//////////////////////////////////////////////////////////////////////////////

body, input, textarea, select {
  font-family: PTSansRegular, Arial, Helvetica, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6,
.single .by a,
.single .comment a.user,
.profile .head h1,
.preview span {
  font-family: PTSansBold, Arial, Helvetica, Geneva, sans-serif;
  margin-bottom: 10px;
}
body {
  background: url("pattern-main.png") #f5f5f5;
  text-shadow: 1px 1px 0 #FFF;
}
a {
  color: inherit;
  font: inherit;
}
h1 {
  color: #999;
  font-size: 20px;
}
.top-nav {
  background: url("noise.png");
  border-bottom: 1px solid #000;
  box-shadow:
    0px 1px 0 0 #999,
    inset 0px -67px 28px -40px rgba(0,0,0,.3),
    inset 0px -1px 0 0 rgba(255,255,255,.2),
    0 4px 0 0 rgba(52,52,52,.04);
  color: #f5f5f5;
  font-size: 18px;
  margin-bottom: 24px;
  padding: 8px 0px 4px 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 930px;
  padding: 0 20px;
}
.wrapper .logo {
  top: -3px;
}
.user-functions {
  color: #dedede;
  float: right;
  font-size: 13px;
  padding-top: 5px;
  text-align: right;
  text-decoration: none;
  text-shadow: 
  -1px -1px 0px rgba(0,0,0,0.1),
  1px -1px 0px rgba(0,0,0,0.1),
  -1px 1px 0px rgba(0,0,0,0.1),
  1px 1px 0px rgba(0,0,0,0.1),
  0px 2px 0px rgba(0,0,0,0.1);
/*  vertical-align: middle;*/
/*  width: 300px;*/
  //dividers
  &:before,
  &:after {
    background1();
    content:"";
    height: 30px;
    position: absolute;
    right: 50px;
    top: 0px;
    width: 1px;
  }
  &:after {
    background2();
    right: 49px;
  }
}
.user-functions .profile-image {
  border: 2px solid #282828;
  border-radius: 0;
  box-shadow: 0px 1px 0px 0px #525252;
  top: -6px;
  margin-right: 12px;
  width: 30px;
}
.user-functions a {
  left: 2px;
  margin-left: 5px;
  text-transform: lowercase;
  &:hover {
    color: #fff;
  }
}
.user-functions .primary {
  background: lighten($btnMain, 10%);
  border-radius: 4px;
  box-shadow:
    inset 0px 1px 0px 0px rgba(255,255,255,0.3),
    inset 0px -30px 40px -20px rgba(0,0,0,0.6),
    inset 0px 0px 3px 0px rgba(255,255,255,0.3),
    0px 0px 0px 1px rgba(0,0,0,0.1),
    0px -1px 0px 0px rgba(0,0,0,0.2),
    inset 0px 13px 0px 0px rgba(255,255,255,.1),
    0px 0px 3px 0px rgba(0,0,0,0.3);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-right: 18px;
  padding: 7px 11px 9px 11px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  top: -6px;
  user-select: none;
  
  &:hover {
    text-decoration: none;
  }
  &:active { 
    background: $btnMain;
    box-shadow:
      inset 0px 1px 0px 0px rgba(255,255,255,0.3),
      inset 0px 30px 40px -20px rgba(0,0,0,0.18),
      inset 0px 0px 3px 0px rgba(255,255,255,0.3),
      0px 0px 0px 1px rgba(0,0,0,0.1),
      0px -1px 0px 0px rgba(0,0,0,0.2),
      inset 0px -13px 0px 1px rgba(255,255,255,.1),
      0px 0px 3px 0px rgba(0,0,0,0.3);
  }
}
.flash_notice {
  color: green;
}
.flash_alert,
.flash_error {
  color: red;
}
input[type=text],
input[type=password],
textarea {
  background: rgba(0,0,0,0.02);
  border: 1px solid #FFF;
  box-shadow: inset 0 1px 0 1px #D1D1D1;
  &:focus {
    // Needs focus styles
    outline: none;
  }
}
textarea {
  border-radius: 2px;
  height: 100px;
  max-width: 100%;
  padding: 6px;
  width: 100%;
}
input[type=text],
input[type=password] {
  border-radius: 3px;
  height: 18px;
  font-size: 13px;
  max-width: 40%;
  padding: 7px;
  text-shadow: 0px 1px 0px #eee;
  width: 40%;
}
textarea,
input[type=text],
input[type=password],
input[type=submit],
input[type=file] {
  display: block;
  margin-bottom: 6px;
}
.submit,
.preview .learn {
  background: darken($btnMain, 5%);
  border: none; //default! ugly culprit!
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  margin-top: 14px;
  padding: 8px 10px;
  text-shadow: 0px 1px 0px darken($textHlight, 10%);
  text-transform: lowercase;
}
.preview {
  margin-bottom: 24px;
}
.preview p {
  color: #555;
  display: inline-block;
  font-size: 18px;
  margin: 10px 0px 0px 0px;
  text-shadow: 1px 1px 0px #f1f1f1;
}
.preview span {
/*  color: #555;*/
}
.preview .ball {
  top: 0px;
  margin-right: 2px;
  position: relative;
}
.preview .dribbble {
  color: $dribbble;
}
.preview .learn {
  background: #aeaeae;
  margin: 6px 0px 0px 10px;
  padding: 6px 8px;
  position: absolute;
  right: 0;
}
.preview .bounce {
  right: 0;
  position: absolute;
}
.profile-image {
  border: 4px solid #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #CCC;
}
.profile {
  color: #adadad;
  height: 110px; /* .profile-image + 20px */
}
.profile .head a {
  font-size: 12px;
  margin-right: 5px;
  top: 3px;
}
.profile .head a:hover {
  text-decoration: underline;
}
.profile .head a.social {
  font-weight: bold;
  top: 2px;
}
.profile .head a.social:before {
  left: -1px;
  position: relative;
  top: -1px;
}
.profile .head h1 {
  color: $textHlight;
  float: left;
  font-size: 16px;
  margin: 0 10px 0 0;
}
.profile p {
  font-size: 13px;
}
.profile .profile-image {
  float: left;
  margin-right: 10px;
  width: 90px;
}
.profile .bio {
  line-height: 1.5em;
  margin-top: 5px;
}
.post {
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  display: inline-block;
  margin: 0 14px 20px 0;
}
.post img {
  margin: 10px;
  width: 192px;
}
.post:nth-of-type(4n) {
  margin-right: 0;
}
.single {
  margin: 0 auto;
  padding: 0 6px;
  width: 422px;
}
.single .post {
  left: -6px;
  margin: 0 0 8px 0;
}
.single .post img {
  width: 400px;
}
.single h1 {
  color: #616161;
  font-size: 18px;
  margin: 0;
}
.single .details {
  color: #a1a1a1;
  font-size: 13px;
  height: 30px;
  margin: 8px 2px 0 2px;
}
.single .by {
  float: left;
}
.single .by a,
.single .comment a.user {
  //////////////////////////
}.single .by a {
  color: $textHlight;
}
.single .by a:hover {
  text-decoration: underline;
}
.single .social {
  float: right;
  text-align: right;
}
.single .social a {
  display: inline-block;
  margin-left: 10px;
}
.single .social a:before {
  font-size: 12px;
  left: -2px;
  position: relative;
}
.single .social a.liked:before {
  color: #ee76a3;
}
.single .social a:hover {
  color: #666;
}
.single .comment {
  border-bottom: 1px solid #DDD;
  font-size: 13px;
  padding: 15px 0 15px 50px;
}
.single .comment.last {
  border-bottom: none;
}
.single .comment img {
  left: 0;
  position: absolute;
  width: 40px;
}
.single .comment a.user {
  color: $textHlight;
}
.single .comment a.user:hover {
  text-decoration: underline;
}
.single .comment .blurb {
  color: #7b7b7b;
  margin-top: 6px;
}
.single .comment .time {
  color: #B1B1B1;
  font-size: 10px;
  margin-top: 6px;
  text-shadow: none;
}
.single .new-comment {
  text-align: right;
}
.single .new-comment textarea {
  margin-bottom: 10px;
}
.single .new-comment textarea:focus {
  outline: none;
}

/* Icons */
[class^="icon-"], [class*=" icon-"] {
	font-family: Scooby;
	font-style: normal;
}
.icon-heart:before {
	content: "\e000";
}
.icon-comments:before {
	content: "\e001";
}
.icon-dribbble:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}