@media (max-width: 945px) {
  .preview .illustration,
  .preview .details {
    display: block;
    margin-bottom: 20px;
    width: auto;
  }
  .preview .illustration img {
    width: 100%;
  }

  .posts {
    text-align: center;
  }
  .post:nth-of-type(4n) {
    margin-right: 14px;
  }
}